<footer class="bg-dark text-light pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3">
                <h5 class="fw-bold">الفاكهاني غورمية</h5>
                <p>الفاكهاني صار بين أيديك بكل مكان.</p>
            </div>
            <div class="col-md-4 mb-3">
                <h5 class="fw-bold">تواصل معنا</h5>
                <p><i class="bi bi-telephone-fill"></i> 07717000555</p>
                <p><i class="bi bi-geo-alt-fill"></i>بغداد-الكاظمية المقدسة-شارع الأمام موسى الكاظم (ع)- تقاطع شارع أكد-المدينة مول</p>
                <div>
                    <a href="https://www.facebook.com/share/1ChMWzq25y/" class="text-light me-2"><i class="bi bi-facebook"></i></a>
                    <a href="https://www.instagram.com/fakhan_21?igsh=MWs0MHdzam5vc2E4bw==" class="text-light me-2"><i class="bi bi-instagram"></i></a>
                </div>
            </div>
        </div>
        <hr class="border-light">
        <div class="text-center pb-2">
            <small>© 2025 جميع الحقوق محفوظة - الفاكهاني</small>
        </div>
    </div>
</footer>
