@page "/product"
@layout MainLayout
<div class="container">
    <div class="product-container">
        <img src="https://images.unsplash.com/photo-1604908177520-472dfb5e530c" alt="كبسة دجاج" class="product-image">
        <div class="product-content">
            <h1 class="product-title">كبسة دجاج</h1>
            <p class="product-desc">كبسة دجاج تقليدية محضرة بالأرز الطويل والبهارات الأصلية مع قطع دجاج طرية ونكهة عربية أصيلة.</p>
            <div class="product-price">8000 د.ع</div>
            <button class="btn btn-add" onclick="addToCart()">أضف للسلة</button>
            <br>
            <button class="btn-back" onclick="history.back()">
                <i class="bi bi-arrow-right"></i> العودة للقائمة
            </button>
        </div>
    </div>
</div>