.admin-order-card {
    background-color: #1e1e1e;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
}

.item-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 8px;
    margin-left: 10px;
}

.order-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.status-btn {
    margin-top: 10px;
}
