.page-header {
    text-align: center;
    margin-bottom: 30px;
}

    .page-header h2 {
        font-size: 2rem;
    }

.btn-add {
    background-color: #EAD196;
    color: #1E402F;
    font-weight: bold;
    border-radius: 20px;
}

    .btn-add:hover {
        background-color: #d4b76c;
        color: white;
    }

.table th, .table td {
    vertical-align: middle;
}

.loading {
    width: 100%; /* يحتل عرض الصفحة */
    display: flex;
    justify-content: center; /* يخلي العنصر بالنص عرضًا */
    margin-top: 50px; /* مسافة من الأعلى (تقدر تغيرها) */
}

.loader {
    width: 60px;
    height: 60px;
    border: 6px solid #e5e7eb;
    border-top-color: #3b82f6;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.table img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 8px;
}

.action-btns .btn {
    margin-left: 5px;
}
