@page "/update-category/{id:int}"
@layout MainLayout
<div class="container">
    <div class="form-container">
        <h3 class="text-center mb-4"><i class="bi bi-plus-circle"></i> تعديل الفئة</h3>
        <form>
            <div class="mb-3">
                <label for="name" class="form-label">اسم الصنف</label>
                <input type="text" @bind="category.CategoryName" class="form-control" id="name" placeholder="مثال: بيتزا">
            </div>
            <div class="text-center">
                <button type="button" @onclick="UpdateCategoryAsync" class="btn btn-submit px-5">تعديل الفئة</button>
            </div>
        </form>
    </div>
</div>